body{
    background-image: url("/project_1/Images/signup\ login\ bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}